html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;



}

header{
    display: block;
    background-color: yellowgreen;
    text-align: center;
    position: sticky;
    top: 0;
    height: 10vh;
    width: 100%;
    z-index: 997;
}

section {
    text-align: center;
    height: 700px;
    width: 100%;
    padding-top: 4rem;

  
    
}

#menu{
    width: 55px;
    height: 55px;
    background-color: yellowgreen;
    display:grid;
    justify-content: center;
    border-radius: 50%;
    padding: 15px;
    font-weight: bold;

    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 999;
    cursor: pointer;

}

.menu_desplegado{
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0, 90%);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    z-index: 998;
    transform: translate(-100%,0);
    transition: transform 0.3s ease;
    
}

.is-active {
    transform: translate(0,0);
}



.menu_desplegado a{    
    color: yellowgreen;
    display: inline-block;
    width: 70%;
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid yellowgreen;
    border-radius: 10px;
    font-size: large;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;

}

.menu_desplegado a:hover, .menu_desplegado a.active {
    color: black;
    background-color: yellowgreen;

}

#cuadroTeclas {
    margin: auto;
    background-color: #222;
    height: 500px;
    width: 80%;
    position: relative;
    border: 1px solid yellowgreen;


}

#circuloTeclas{
    background-color: yellowgreen;
    height: 30px;
    width: 30px;
    position: absolute;
    border-radius: 50%;


}

.toTop{
    width: 55px;
    height: 55px;
    background-color: yellowgreen;
    display:grid;
    justify-content: center;
    border-radius: 50%;
    padding: 15px;
    font-weight: bold;

    position: fixed;
    right: 105px;
    bottom: 15px;
    z-index: 999;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;

}

.toTop img {
    z-index: 1000;
    width: 50px;
    height: 50px;
    transform: rotate(-90deg);



}

.toTop-is-active{

    visibility: visible;
    opacity: 100;

}

.darkmode {
    background-color: #222;
    color: azure;
}

#darkmode{
    width: 55px;
    height: 55px;
    background-color: yellowgreen;
    display:grid;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 15px;
    font-weight: bold;
    position: fixed;
    left: 15px;
    bottom: 15px;
    z-index: 999;
    cursor: pointer;
    transition: all 0.3s ease;



}

#darkmode img {
    z-index: 1000;
    width: 50px;
    height: 50px;
    visibility: visible;
    display: visible;


}


.hidden {
    display: none;
    visibility: hidden;

}

.onlineCheck{
    height: 55px;
    width: 55px;
    background-color: green;
    position: fixed;
    z-index: 998;
    top: 15px;
    right: 15px;
    border-radius: 50%;
    display: grid;
    text-align: center;
    justify-content: center;
    


}

video {
    width: 80%;
    height: auto;
}

/* SCROLL SPY */

@media screen and (min-width: 1024px) {

    
    body {
        display: grid;
        grid-template-columns: 80% 20%;
        grid-template-rows: 4rem auto;
        grid-template-areas: 
        "header header"
        "main  panel";
    }
    
    header{
        grid-area: header;
    }

    article{
        grid-area: main;
    }

    .menu_desplegado{
        grid-area: panel;
        position: sticky;
        top: 10vh;
        width: auto;
        height: 90vh;
        transform: translate(0,0);
        
    }

    .menu_desplegado a {
        font-size: medium;
    }
    
    #menu{
        display: none;
    }

    .toTop {
        right:22% ;
    }
 
    
}

/* formuladio de contacto */

.contact-form{
    --form-ok-color: green;
    --form-error-color: red; 
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    
}

.contact-form > * {
    box-sizing: border-box;
    padding: 0.5rem;
    margin: 1rem auto;
    display: block;
    width: 100%;
}

.contact-form textarea{
    resize: none;
}

.contact-form-lengend,
.contact-form-response{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

input, textarea {
 font-size: 1rem;
 font-family: sans-serif;   
}

.contact-form input[type="submit"]{
    width: 50%;
    font-weight: bold;
    cursor: pointer;
}

.contact-form *::placeholder{
    color: #000;
}

.contact-form [required]:valid{
    border: thin solid var(--form-ok-color)
}


.contact-form [required]:invalid{
    border: thin solid var(--form-error-color)
}

.contact-form-error{
    margin-top: -1rem;
    font-size: 80%;
    background-color: var(--form-error-color);
    color: #fff;
    transition: all 800ms ease;
}

.contact-form-error .is-active {
    display: block;
    animation: show-message 1s 1 normal 0s ease-out both;
}

.none{
    display: none;
}

@keyframes show-message {

    0%{
        visibility: hidden;
        opacity: 0;
    }

    100%{
        visibility: visible;
        opacity: 1;
    }
    
}